<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta name="author" content="Mahmoud Mheisen" />
    <meta name="description" content="FCC Course 6 Project 3" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- CSS Links -->
    <link type="text/css" rel="stylesheet" href="/public/style.css" />

    <!-- Title -->
    <title>Personal Library</title>

    <!-- Icon -->
    <link
      id="favicon"
      rel="icon"
      href="https://hyperdev.com/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header class="center">
      <h2>Personal Library</h2>
      <p>
        FreeCodeCamp Information Security and Quality Assurance Course, Project
        3
      </p>
    </header>

    <div class="global">
      <div id="g1" class="api-test">
        <p id="label" class="center">
          <strong>API Test </strong>Submit New Book
        </p>

        <form
          action="/api/books"
          method="post"
          id="testForm1"
          class="container"
        >
          <label id="f1"><code> POST /api/books</code></label>
          <input
            id="f2"
            type="text"
            name="title"
            placeholder="Book Title"
            required
          />

          <button id="f7" type="submit">
            <i class="fa fa-paper-plane"></i> Submit New Book
          </button>
        </form>
      </div>

      <div id="g1a" class="api-test">
        <p id="label" class="center">
          <strong>API Test </strong>Submit New Comment
        </p>

        <form action="" method="post" id="testForm1a" class="container">
          <label id="f1"><code> POST /api/books/{bookid}</code></label>
          <input
            id="f2"
            class="id"
            type="text"
            name="id"
            placeholder="Book ID"
            required
          />

          <input
            id="f3"
            type="text"
            name="comment"
            placeholder="Comment"
            required
          />

          <button id="f7" type="submit">
            <i class="fa fa-paper-plane"></i> Submit Comment
          </button>
        </form>
      </div>

      <div id="g2" class="api-test">
        <p id="label" class="center"><strong>API Test </strong>GET All Books</p>
        <form action="/api/books" method="get" id="testForm2" class="container">
          <label id="f1"><code> GET /api/books/</code></label>
          <button id="f7b" type="submit">
            <i class="fa fa-info"></i> Get All Books
          </button>
        </form>
      </div>

      <div id="g2a" class="api-test">
        <p id="label" class="center">
          <strong>API Test </strong>GET Book by ID
        </p>
        <form action="" method="get" id="testForm2a" class="container">
          <label id="f1"><code> GET /api/books/{_id}</code></label>
          <input
            id="f2"
            class="id2aa"
            type="text"
            name="id"
            placeholder="Book ID"
            required
          />
          <button id="f7b" type="submit">
            <i class="fa fa-info"></i> Get Book
          </button>
        </form>
      </div>

      <div id="g3" class="api-test">
        <p id="label" class="center">
          <strong>API Test </strong>Delete All Books
        </p>
        <form id="testForm3" class="container">
          <label id="f1"><code> DELETE /api/books/</code></label>
          <button class="del" id="f7c" type="submit">
            <i class="fa fa-trash"></i> Delete All Books
          </button>
        </form>
      </div>

      <div id="g3a" class="api-test">
        <p id="label" class="center">
          <strong>API Test </strong>Delete Book by ID
        </p>
        <form id="testForm3a" class="container">
          <label id="f1"><code> DELETE /api/books/{_id}</code></label>
          <input
            id="f2"
            class="book_id"
            type="text"
            name="id"
            placeholder="Book ID"
            required
          />
          <button id="f7c" class="del_id" type="submit">
            <i class="fa fa-trash"></i> Delete Book
          </button>
        </form>
      </div>
    </div>

    <div class="center">
      <h3>Example Usage:</h3>
      <img
        src="https://cdn.gomix.com/d7932c52-287f-4dae-b175-631fef453000%2FScreen%20Shot%202016-12-16%20at%201.35.56%20AM.png"
      />
    </div>

    <footer class="center">
      <strong> &copy; 2020 Mahmoud Mheisen</strong>
    </footer>

    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script src="/public/client.js"></script>
    <script>
      /*
       *  For #sampleposting to update form action url to test inputs book id
       */

      $(function () {
        $("#testForm1a").submit(function () {
          var id = $(".id").val();
          $(this).attr("action", "/api/books/" + id);
        });

        $("#testForm2a").submit(function () {
          var id2 = $(".id2aa").val();
          $(this).attr("action", "/api/books/" + id2);
        });

        $("#testForm3a").submit(function (e) {
          let url = "/api/books/" + $(".book_id").val();
          console.log(url);
          $.ajax({
            url: url,
            type: "delete",
            data: $("#testForm3a").serialize(),
            success: function (data) {
              // $("#f2a").text(JSON.stringify(data));
            },
          });
          e.preventDefault();
        });
      });
    </script>
  </body>
</html>
